
/*nb. #00000 is black (0red, 0green, 0blue) */


/*sv- 	In the documentation section of the wiki there are alot of <p> tags that use
	a class with Title2 or Normal. So I have added the formatting for them below.
	nb. 	I am diliberately not handling .Normal class because if the user just types
		plain text, I don't want it to be formated differently to the html
		stuff I copied into the wiki. So I leave it as is.
*/


/*sv- taken from ApsimWebStyles.css */
body  {
		background:white url('images_apsim/') repeat-y left top; 
		font-family : Arial, Helvetica, sans-serif;
 	    font-size : 14px;
		padding-top: 7px;
		padding-bottom: 7px; 
 	    color : #004743; 
        /*padding-left: 70px;*/ 
        text-align:left;
   height: 868px;
}

/*sv-  original Screen_Styles.css */
p {
	font-family : Arial, Helvetica, sans-serif;
   height: 40px;
}

/*sv- All the wiki text sits inside a <div> not inside a <body>. Some of it sits inside an <a>*/
div {
	font-family : Arial, Helvetica, sans-serif;
 	font-size : 14px; 
	margin-left: 0px;
	padding-top: 7px;
	padding-bottom: 7px; 
}

ul, ol 
{
	margin-left: 20px;
	padding-top: 7px;
	padding-bottom: 7px; 
}

li {
	margin-left: 20px;
	padding-top: 7px;
	padding-bottom: 7px; 
}




.Title2, .title2 {
		font-family : Arial, Helvetica, sans-serif;
	    font-size : 16px;
	    width : 60%;
	    height : 30px;
	    margin-left: 0px;
	    margin-top: -8px;
        margin-bottom: 20px
}

.resulterror, .resulterror * {
	color: #FF0000;
}

.resultok, .resultok * {
	color: #009900;
}

input, label {
    font-family : Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	padding: 2px;
}

select {
	font-family : Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}

input.compact {
	font-size: 11px;
	padding: 0px;
}

div.globalcaptcha input {
	margin-top: 2px;
	width: 144px;
}

/* Small text */
.small, small {
	font-size: 11px;
}

/* Big text */
.big, big {
	font-size: 15px;
}

/* Description/legend for images */
p.imagedescription {
	font-style: italic;
	margin-top: 4px;
}



/* sv- General purpose links - new */
a {
	font-family : Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #769F29;
	text-decoration: none;
}
a:link, a:active {
}
/* sv- end */

a:hover {
	color: #990000;
	text-decoration: underline;
}

/* Link to an external URL */
a.externallink {
	background-image: url(Images/ExternalLink.gif);
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 14px;
}

/*sv- these classes below a very important wiki classes. 

/* Link to an internal file */
a.internallink {

}

/* Link to a .aspx page */
a.systemlink {

}

/* Link to a Wiki page */
a.pagelink {

}

/* sv- Link to unknown/inexistent pages - new */
a.unknownlink, a.unknownlink:link, a.unknownlink:active {
	color: #769F29;
	text-decoration: none;
}
a.unknownlink:hover {
	color: #990000;
	text-decoration: underline;
}
/* sv- end */


/* Email Link */
a.emaillink {
}


/*sv- taken from ApsimWebStyles.css */
h1 {
		font-family : Arial, Helvetica, sans-serif;
 	    font-size : 20px; 
 	    color : Blue; 
 	    text-align: left;
} 

h2 { 
		font-family : Arial, Helvetica, sans-serif;
 	    font-size : 18px; 
 	    margin-top: 20px;  
 	    border-bottom-style: inset; 
 	    color : Black; 
 	    text-align: left; 
 	    font-weight: bold;
} 
 
h3 {
	font-family : Arial, Helvetica, sans-serif; 
	font-size: 14px;
	color: #990000;
    margin: 0px;
	padding: 0px;
	font-weight: normal;
}

h4 {
	font-family : Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #990000;
	padding: 0px;
	font-weight: normal;
	font-style: italic;
}

h1.pagetitle, h1.pagetitlesystem {
	font-family : Arial, Helvetica, sans-serif;
	font-size: 22px;
	background-color: #F5F5F5;
	padding: 0px 4px 2px 4px;
	margin-bottom: 4px;
	border-bottom: 2px solid #999999;
	border-top: 3px solid #F0F0F0;
}

h1.pagetitlesystem {
	margin-bottom: 10px;
}

/* Class for applying a separator under H elements (useful to avoid usage of HR) */
h1.separator, h2.separator, h3.separator 
{
	font-family : Arial, Helvetica, sans-serif;
	background-color: #F5F5F5;
	padding: 0px 4px 2px 4px;
	margin-bottom: 10px;
	border-bottom: 2px solid #999999;
	border-top: 3px solid #F0F0F0;
}
h4.separator 
{
	font-family : Arial, Helvetica, sans-serif;
}
h1.separator a.headeranchor, h2.separator a.headeranchor, h3.separator a.headeranchor, h4.separator a.headeranchor 
{
	font-family : Arial, Helvetica, sans-serif;
	display: inline;
	margin-left: 4px;
	color: #F7F3F7;
	text-decoration: none;
}
h1.separator:hover a.headeranchor, h2.separator:hover a.headeranchor, h3.separator:hover a.headeranchor, h4.separator:hover a.headeranchor {
	display: inline;
	color: #888888;
}
a.headeranchor:hover {
	background-color: #F0F0F0;
}

/* sv- This is the a.headeranchor of the SideBarDiv, the a.headeranchor of the HeaderDiv, etc. */

#SidebarDiv a.headeranchor, #HeaderDiv a.headeranchor, #FooterDiv a.headeranchor {

}

#SidebarDiv a {
	/*color: #769F29;*/
	color: #C1C405;

}

a.editsectionlink {
	float: right;
	font-size: 11px;
	margin: 6px 6px 0px 0px;
}



code, pre {
	color: #000000;
	padding: 0px;
}

pre {
	background-color: #EEEEEE;
	margin: 0px 10px 0px 10px;
	padding: 8px;
	border: solid 1px #DDDDDD;
	overflow: auto;
}

/* sv- this is handled below (taken from ApsimWebStyles.css) 
table  {font-family : Verdana, Arial, Helvetica, sans-serif; 
 	     color: #004743;;} 

*/
table {
	padding: 0px;
	margin: 0px;
	color: #004743;
}
tr td {
	margin: 0px;
	padding: 2px 5px 2px 5px;
	font-size: 14px;
	font-weight: normal;
	color: #000000;
}
table.generic {
}

table.recentchanges {
	border-top: solid 1px #999999;
}

/*tr.tableheader td, th {
	background-color: #CCCCCC;
	color: #000000;
	font-weight: bold;
	margin: 0px;
	padding: 2px 5px 2px 5px;
	border-bottom: solid 1px #999999;
}

tr.tablerow td {
	margin: 0px;
	padding: 2px 5px 2px 5px;
	border-bottom: solid 1px #999999;
	font-size: 11px;
}
*/
/*tr.tablerow:hover, tr.tablerow:hover td {
	background-color: #FFFFCC;
}

tr.tablerowalternate td {
	background-color: #F0F0F0;
	margin: 0px;
	padding: 2px 5px 2px 5px;
	border-bottom: solid 1px #999999;
	font-size: 11px;
}
tr.tablerowalternate:hover, tr.tablerowalternate:hover td {
	background-color: #FFFFCC;
}
*/
img {
	border: none;
}

/* Class for general purpose images (contained in Wiki pages) */
img.image {
	border: solid 1px #CCCCCC;
}

/* Class of the formatting Buttons in Edit.aspx */
img.format {
	border: solid 1px;
	padding: 2px;
}

/* Div used for clearing floats */
div.clear {
	clear: both;
}

/* Div containing images alighed to the left */
div.imageleft {
	border: solid 1px #CCCCCC;
	background-color: #F9F9F9;
	padding: 4px;
	margin-left: 0px;
	margin-right: 8px;
	margin-top: 4px;
	margin-bottom: 4px;
	float: left;
}

/* Div containing images alighed to the right */
div.imageright {
	border: solid 1px #CCCCCC;
	background-color: #F9F9F9;
	padding: 4px;
	margin-left: 8px;
	margin-right: 0px;
	margin-top: 4px;
	margin-bottom: 4px;
	float: right;
}

/* Table containing images not aligned */
table.imageauto {
	border: solid 1px #CCCCCC;
	background-color: #F9F9F9;
	padding: 4px;
	margin: 4px;
}

/* Div acting like a box */
div.box {
	border: solid 1px #CCCCCC;
	background-color: #FFFFEE;
	display: table-cell;
	padding: 4px;
	margin: 4px 4px 0px 4px;
}

select.namespacedropdown {
}

/* Contains the Header */
#HeaderDiv 
{
	margin: 0px;
	padding: 5px;
	font-size: 14px;
	color:#C1C405; /*sv- need for the commas that separate the links*/
	background-color: #004743;
}

/*sv- I added this to change the colour of the <a href> tags in the #HeaderDiv */
/*sv-   nb. you can use this same wiki css format of wiki #name -> tag name -> .classname for other things too.*/
/*sv- See "#SidebarDiv a.headeranchor, #HeaderDiv a.headeranchor, #FooterDiv a.headeranchor" section for more. */

#HeaderDiv a {
color: #C1C405;
}

#HeaderDiv table {
color: #C1C405;
}

#HeaderDiv td {
padding-left: 30px;
text-align:center;
}

/*sv-END */

/* Contains the SidebarDiv and the MainDiv */
#ContainerDiv {
}



/* sv- Contains the Sidebar - new */
#SidebarDiv 
{
	display: none;
	/*position:relative;
	float: left;
	height: 1332px;*/
	/*top, right, bottom, left (clockwise from the top)*/ 
	/*padding: 0px 0px 0px 0px;*/
	/*border-right: solid 1px #DDDDDD;*/
	/*background-image:url('images_apsim/Side_bar2.jpg'); 
	background-color: #004743;
	background-repeat: repeat-y;
	background-position: top left;
	font-size: 14px;*/
	/*color: #769F29;*/
	/*color: #C1C405;*/ /*sv- need for the commas that separate the links*/
    

}
/* sv- end */

/* sv- Contains the contents of a Page - new */
#MainDiv 
{
	clear: both;
	position:relative;
	/*top, right, bottom, left (clockwise from the top)*/ 
	padding: 8px 50px 8px 50px;
	background-color: #FFFFFF;
	background-image: url(Images/MainBackground.gif);
	background-position: left top;
	background-repeat: repeat-y;
}
/* sv- end */

/* Contains the Page Header (title, last modify, etc.) */
#PageHeaderDiv {
}

#PageInternalHeaderDiv {
}

#PageInternalFooterDiv {
}

/* sv- Contains the link to the page editing form (Edit.aspx) and history - copied from "Default" theme */
#EditHistoryLinkDiv {
	float: right;
	font-size: 12px;
	margin-top: 8px;
	margin-bottom: -8px;
	padding: 4px;
	display: inline;
	position: relative;
	/*padding-top: 12px;
	padding-right: 8px;
	padding-bottom: 12px;*/
}
#EditLink, #HistoryLink, #ViewCodeLink, #PageAttachmentsLink,
#DiscussLink, #BackLink, #PostReplyLink, #AdminToolsLink {
	background-color: #86BE36;
	margin-left: 0px;
	padding: 3px;
	border: solid 1px #609020;
	text-decoration: none;
	color: #FFFFFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#EditLink:hover, #HistoryLink:hover, #ViewCodeLink:hover, #PageAttachmentsLink:hover,
#DiscussLink:hover, #BackLink:hover, #PostReplyLink:hover, #AdminToolsLink:hover {
	border: solid 1px #609020;
	text-decoration: none;
	background-color: #769F29;
	color: #FFFFFF;
}

#PageAttachmentsLink {
	background-image: url(Images/DropDown.png);
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 16px;
}

#AdminToolsLink {
	background-color: #FFDF65;
	background-image: url(Images/DropDown.png);
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 16px;
	color: #000000;
}

#PageAttachmentsDiv {
	background-color: #FFFFFF;
	border: solid 1px #DDDDDD;
	padding: 6px;
}

#AdminToolsDiv {
	background-color: #FFFFFF;
	border: solid 1px #DDDDDD;
}
#AdminToolsDiv a {
	text-align: right;
	display: block;
	padding: 3px 6px 3px 6px;
	font-size: 11px;
}
#AdminToolsDiv a:hover {
	background-color: #769F29;
	text-decoration: none;
	color: #FFFFFF;
}
/*sv- end */


/* Class of the P containing the Edit Link */
p.editlink {
	font-size: 11px;
}

#PageInfoDiv {
	font-size: 11px;
}

#ModificationSpan {
}
#AuthorSpan {
}
#CategoriesSpan {
	display: block;
	padding-bottom: 2px;
}
#NavPathsSpan {
	padding-left: 16px;
}
#PageDiscussionSpan {
	position: relative;
	top: -14px;
}

#BreadcrumbsDiv {
	font-size: 11px;
	margin-top: 2px;
	padding-bottom: 1px;
	border-bottom: solid 1px #F0F0F0;
	border-top: solid 1px #F0F0F0;
	overflow: hidden;
}

div.pageoutgoinglinksmenu {
	background-color: #FFFFFF;
	border: solid 1px #999999;
}
div.pageoutgoinglinksmenu a {
	display: block;
	padding: 2px 3px 2px 3px;
}
div.pageoutgoinglinksmenu a:hover {
	text-decoration: none;
	color: #FFFFFF;
	background-color: #555555;
}

/* Contains the link to the Page RSS */
#RssLinkDiv {
	float: right;
	position: relative;
}
/* The link to the Page RSS */
#RssLink {
	background-image: url(Images/RSS.png);
	text-indent: -2500px;
	display: block;
	height: 17px;
	width: 24px;
}
#RssLink.discuss {
	background-image: url(Images/RSS-Discussion.png);
}

#PrintLinkDiv {
	float: right;
	position: relative;
}
#PrintLink {
	background-image: url(Images/Print.png);
	background-repeat: no-repeat;
	text-indent: -2500px;
	display: block;
	margin-left: 4px;
	height: 16px;
	width: 16px;
	margin-top: 4px;
}

#EmailNotificationDiv {
	float: right;
	position: relative;
	margin: 2px 4px 0px 0px;
}
input.activenotification {
	width: 16px;
	height: 17px;
	background-image: url(Images/EmailNotifOn.png);
	padding: 0px;
	margin: 0px;
}
input.inactivenotification {
	width: 16px;
	height: 17px;
	background-image: url(Images/EmailNotifOff.png);
	padding: 0px;
	margin: 0px;
}
input.activenotification.discuss {
	background-image: url(Images/EmailNotifOn-Discussion.png);
}
input.inactivenotification.discuss {
	background-image: url(Images/EmailNotifOff-Discussion.png);
}

/* Contains the Page Content */
#PageContentDiv {
	margin: 10px 0px 0px 0px;
}

/* Contains the Footer */
#FooterDiv 
{
	margin: 0px 4px 4px 188px;
	padding: 8px;
}

#PageListTable {
}

#HistoryTable {
}

#PreviewDivExternal {
}

#PreviewDiv {
	padding: 10px;
	border: solid 4px #CCCCCC;
}

blockquote {
	border-left: solid 8px #FFDDDD;
	margin-left: 16px;
	padding: 0px 0px 2px 6px;
}

div.messagecontainer {
	margin: 0px 0px 0px 16px;
}

div.rootmessagecontainer {
	border-top: solid 4px #990000;
}

div.messageheader {
	background-color: #FFFFDD;
	padding: 2px;
	border-top: solid 1px #990000;
	border-left: solid 1px #990000;
	border-right: solid 1px #990000;
}

span.messagesubject {
	font-weight: bold;
	font-size: 12px;
}
span.messagedatetime {
	font-size: 10px;
	padding-left: 20px;
}

div.messagebody {
	border-bottom: solid 1px #990000;
	border-left: solid 1px #990000;
	border-right: solid 1px #990000;
	margin: 0px 0px 6px 0px;
	padding: 4px;
}

div.reply {
	float: right;
	margin: 0px 10px 0px 0px;
	font-size: 11px;
	font-weight: bold;
}

a.reply {
	background-image: url(Images/MessageReply.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding: 0px 0px 0px 12px;
}

a.edit {
	background-image: url(Images/MessageEdit.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding: 0px 0px 0px 13px;
	margin-left: 16px;
}

a.delete {
	background-image: url(Images/MessageDelete.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding: 0px 0px 0px 10px;
	margin-left: 16px;
}

div.warning {
	padding: 6px;
	background-color: #FEF693;
	border: solid 1px #FFCF10;
	display: table-cell;
}

input.txtsearchbox {
	font-size: 11px;
	width: 150px;
	background-image: url(Images/Search.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-color: #FFFFFF;
	border: solid 1px #CCCCCC;
}

span.signature {
	font-style: italic;
}

#TocContainer {
	border: solid 1px #CCCCCC;
	display: table-cell;
	padding: 4px;
	background-color: #F9F9F9;
}

a.attachment {
	padding-left: 14px;
	background-image: url(Images/Attachment.png);
	background-repeat: no-repeat;
	background-position: left center;
}

#RedirectionInfoDiv {
	font-size: 11px;
	padding-left: 10px;
	padding-top: 4px;
	color: #999999;
}

#RedirectionDiv {
	margin-bottom: 16px;
	padding-left: 24px;
	margin-left: 10px;
	font-size: 14px;
	background-image: url(Images/Redirect.png);
	background-repeat: no-repeat;
	background-position: left center;
}

/* BEGIN Edit.aspx */

div.anonymous {
	padding: 6px;
	background-color: #FEF693;
	border: solid 1px #FFCF10;
	margin-bottom: 5px;
}

div.autotemplate {
	padding: 6px;
	background-color: #FEF693;
	border: solid 1px #FFCF10;
	margin-top: 5px;
	margin-bottom: 5px;
}

div.collisionsmanagement {
	padding: 6px;
	background-color: #FEF693;
	border: solid 1px #FFCF10;
	margin-bottom: 5px;
}

div.draftmanagement {
	padding: 6px;
	background-color: #FEF693;
	border: solid 1px #FFCF10;
	margin-bottom: 8px;
}

input.bigtextbox {
	font-size: 16px;
	margin-bottom: 2px;
}

#EditNoticeDiv {
	font-size: 11px;
	margin-bottom: 8px;
	padding: 3px;
	background-color: #F5F5F5;
}

#PageNameAndTitleDiv {
	width: 65%;
}
#PageNameAndTitleDiv .large {
	width: 99%;
}
#PageNameAndTitleDiv div {
	padding-bottom: 2px;
}

#TemplatesDiv {
	margin-top: 3px;
}

#TemplatesInternalDiv {
	padding: 4px;
	background-color: #F5F5F5;
}
#TemplatesInternalDiv select {
	font-size: 11px;
}

#TemplatePreviewDiv {
	font-size: 10px;
	padding: 4px;
	border: solid 1px #CCCCCC;
	margin-top: 4px;
	margin-bottom: 4px;
}

#EditorDiv {
	margin-top: 6px;
}

#EditCommentDiv {
	float: left;
	margin-top: 16px;
	margin-left: 30px;
	width: 280px;
}
#EditCommentDiv input {
	width: 272px;
	float: right;
	margin-bottom: 6px;
}

div.captcha {
	padding: 6px;
	background-color: #FEF693;
	border: solid 1px #FFCF10;
	margin-top: 36px;
	margin-right: 30px;
	float: left;
}

#ButtonsDiv {
	float: right;
}

#SaveOptionsDiv {
	padding: 4px;
}

#ResultDiv {
}

#CategoriesDiv {
	width: 340px;
	margin-top: 16px;
	float: left;
}

#CategoriesListDiv {
	width: 334px;
	height: 100px;
	padding: 2px;
	overflow: auto;
	border: solid 1px #999999;
	margin-right: 10px;
}

div.categorycreation {
	margin-top: 6px;
}

#AttachmentsDiv {
	clear: both;
	float: left;
	margin-top: 40px;
}

.short {
	width: 150px;
}

.medium {
	width: 200px;
}

.large {
	width: 500px;
}

.h_short {
	height: 100px;
}

/* END Edit.aspx */

/* BEGIN Search.aspx */

#SearchControlsDiv {
	margin-top: 16px;
}

#SearchControlsDiv input.textbox {
	font-size: 14px;
	width: 300px;
}

#SearchControlsDiv input.button {
	font-size: 14px;
}

#RadiosDiv {
	margin-top: 6px;
	margin-bottom: 6px;
}

#RadiosDiv label {
	margin-right: 8px;
}

#CategoryFilterDiv {
	border: solid 1px #999999;
	float: right;
	margin-top: -50px;
	background-color: #FFFFFF;
	margin-left: 15px;
	padding: 4px;
}

#CategoryFilterInternalDiv {
	margin-top: 4px;
	width: 250px;
	height: 300px;
	overflow: auto;
}

#SearchStatsDiv {
	font-size: 11px;
	margin-top: 14px;
}

#ResultsDiv {
	min-height: 250px;
}

h3.searchresultpage {
	margin-top: 14px;
	background-image: url(Images/Page.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 18px;
}
h3.searchresultmessage {
	margin-top: 14px;
	background-image: url(Images/Message.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 18px;
}
h3.searchresultfile {
	margin-top: 14px;
	background-image: url(Images/File.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 18px;
}
h3.searchresultattachment {
	margin-top: 14px;
	background-image: url(Images/Attachment.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 18px;
}

h3.searchresultpage a, h3.searchresultmessage a, h3.searchresultfile a, h3.searchresultattachment a {
	font-weight: bold;
}

p.excerpt {
	font-size: 11px;
	margin-left: 4px;
	padding-left: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
	margin-top: 4px;
	border-left: solid 4px #DDDDDD;
}

p.excerpt b.searchkeyword, b.searchkeyword {
	font-weight: normal;
	background-color: #FFEE64;
}

/* END Search.aspx */

/* BEGIN FileManager.ascx */

#MainFileManagerDiv {
	float: left;
}

#FileManagementControlsDiv {
	float: right;
}

#DirectoriesDiv {
	margin-bottom: 3px;
}

#ItemRenameDiv {
	margin-top: 10px;
	border: solid 1px #999999;
	padding: 8px;
}

#NewDirectoryDiv, #UploadDiv, #PermissionsDiv {
	float: right;
	border: solid 1px #999999;
	padding: 8px;
	width: 470px;
	background-color: #FFFFFF;
	margin-bottom: 16px;
}

#PermissionsDiv #SubjectsDiv {
	float: left;
}
#PermissionsDiv #SubjectsDiv select {
	width: 210px;
	height: 90px;
	margin-bottom: 10px;
}

#PermissionsDiv #SubjectsManagementDiv {
	margin-top: 12px;
	margin-left: 10px;
	width: 240px;
	float: left;
}
#PermissionsDiv #SubjectsManagementDiv input.textbox {
	width: 150px;
}
#PermissionsDiv #SubjectsManagementDiv select.dropdown {
	width: 155px;
}

#PermissionsDiv #InternalButtonsDiv {
	clear: left;
	float: left;
	margin-bottom: 10px;
}

#AclSelectorDiv {
	margin: 10px 0px 10px 0px;
	background-color: #FEF693;
	border: solid 1px #FFCF10;
	padding: 10px;
	float: left;
}

#AclSelectorDiv label {
	padding-right: 10px;
}

#FileManagerTable {
}

/* END FileManager.ascx */

/* BEGIN AttachmentManager.ascx */

#MainAttachmentManagerDiv {
	float: left;
}

#UploadAttachmentDiv {
	float: right;
	border: solid 1px #999999;
	padding: 8px;
	width: 400px;
	margin-left: 10px;
	background-color: #FFFFFF;
}

#AttachmentManagerTable {
}

/* END AttachmentManager.ascx */

/* BEGIN AttachmentViewer.ascx */

#AttachmentViewerPage {
}

/* END AttachmentViewer.ascx */

/* BEGIN Non-content pages */

#SABody {
}

#HeaderSADiv {
	margin: 6px auto 0px auto;
	width: 90%;
	padding: 8px;
}

#NavigationSADiv {
	margin: 0px auto 0px auto;
	width: 90%;
	padding: 8px;
}

#ContainerSADiv {
	margin: 0px auto 0px auto;
	width: 90%;
	background-color: #FFFFFF;
	border: solid 1px #888888;
	padding: 8px 8px 12px 8px;
}

#FooterSADiv {
	margin: 8px auto 8px auto;
	width: 90%;
	padding: 0px;
}

/* END Non-content pages */

/* BEGIN User.aspx */

#UserGravatarDiv {
	float: right;
}

#UserGravatarDiv img {
	margin: 10px;
	padding: 3px;
	border: solid 1px #CCCCCC;
}

#EmailMessageDiv {
	margin-top: 20px;
}

#EmailMessageDiv .subject {
	width: 50%;
}

#EmailMessageDiv .body {
	margin-top: 6px;
	width: 98%;
	height: 200px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

/* END User.aspx */

/* BEGIN AllPages.aspx */

#PageSelectorDiv {
	margin: 6px 0px 6px 0px;
	font-size: 11px;
}

#PageSelectorDiv a {
	padding: 2px;
	line-height: 17px;
}
#PageSelectorDiv a:hover, a.selected, a:hover.selected {
	text-decoration: none;
	background-color: #555555;
	color: #FFFFFF;
}
#PageSelectorDiv a.selected, a:hover.selected {
	font-weight: bold;
}

/* END AllPages.aspx */

/* BEGIN Post.aspx */

#PostCaptchaDiv {
	height: 40px;
}

/* END Post.aspx */

div.cleanup {
	clear: both;
}
div.cleanupright {
	clear: right;
}
div.cleanupleft {
	clear: left;
}

/* Body IDs used in IFrameEditor.aspx, Popup.aspx, PopupWYSIWYG.aspx, ImageEditor.aspx */
#VisualEditorBody, #ToolWindowBody {
	/*background-color: #FFFFFF;
	background-image: none;*/
}
