<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="ProductRegistrationsConnectionString" connectionString="Data Source=www.apsim.info\SQLEXPRESS;Initial Catalog=ProductRegistrations;Persist Security Info=True;User ID=apsrunet;Password=segsegseg"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
       <customErrors mode="Off"/>
    </system.web>

</configuration>
