<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ProductRegistrationsConnectionString" connectionString="Data Source=apsimdev.apsim.info\SQLEXPRESS;Initial Catalog=ProductRegistrations;Persist Security Info=True;User ID=apsrunet;Password=segsegseg" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    Useful resource: http://jayakrishnagudla.blogspot.com.au/2009/12/configuring-wcf-services-to-work-with.html
  
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.6" debug="true"/>
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="Off"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="APSIM.Registration.Service.Registration" behaviorConfiguration="B">
        <endpoint address=""
                  behaviorConfiguration="WebBehavior"
                  binding="webHttpBinding"
                  bindingConfiguration="webBindingHTTPS"
                  contract="APSIM.Registration.Service.IRegistration"/>
        <endpoint address=""
                  behaviorConfiguration="WebBehavior"
                  binding="webHttpBinding"
                  bindingConfiguration="webBinding"
                  contract="APSIM.Registration.Service.IRegistration"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="A">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="B">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" httpsGetUrl="https://apsimdev.apsim.info/APSIM.Registration.Service/Registration.svc"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="WebBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="webBinding">
          <security mode="None">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
        <binding name="webBindingHTTPS">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <httpErrors errorMode="Detailed"/>
  </system.webServer>
</configuration>